.motor{

padding:80px;

text-align:center;

background:#e8f5e9;

}

.motor h2{

font-size:40px;

color:#2e7d32;

margin-bottom:30px;

}

.motor h3{

font-size:30px;

margin-bottom:30px;

}

.motor button{

padding:15px 40px;

font-size:18px;

border:none;

border-radius:8px;

background:#2e7d32;

color:white;

cursor:pointer;

}