.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:#2e7d32;

color:white;

position:fixed;

width:100%;

top:0;

left:0;

z-index:100;

}

.logo{

font-size:30px;

font-weight:bold;

}

.navbar ul{

display:flex;

list-style:none;

gap:30px;

}

.navbar li{

cursor:pointer;

font-size:18px;

transition:.3s;

}

.navbar li:hover{

color:#ffc107;

}