*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

.navbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 8%;

    background:#2e7d32;

    color:white;

    position:sticky;

    top:0;

    z-index:1000;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.logo{

    font-size:28px;

    font-weight:bold;

}

.nav-links{

    display:flex;

    gap:28px;

    list-style:none;

}

.nav-links a{

    text-decoration:none;

    color:white;

    font-size:18px;

    transition:.3s;

}

.nav-links a:hover{

    color:#ffd54f;

}